[user]
	name = delhombre
	email = brunodogbase@gmail.com
[core]
	editor = code --wait
	autocrlf = input
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[diff]
	tool = vscode
[difftool "vscode"]
	cmd = "code --wait --diff $LOCAL $REMOTE"
[push]
	autoSetupRemote = true
